<!-- Validation failure messages -->
<% if @mountain.errors.any? %>
  <% @mountain.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Mountain</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_mountain" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @mountain.location %>">
      </div>

      <!-- Label and input for route_photo -->
      <div class="form-group">
        <label for="route_photo" class="control-label">
          Route photo
        </label>

        <input type="file" id="route_photo" name="route_photo" class="form-control">
      </div>

      <!-- Label and input for skier_id -->
      <input type="hidden" name="skier_id" value="<%= current_skier.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @mountain.name %>">
      </div>

      <button class="btn btn-success">
        Create Mountain
      </button>
      or
      <a href="/mountains">Cancel</a>
    </form>
  </div>
</div>
