<div class="page-header">
  <h3>Skier #<%= @skier.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @skier.email %></dd>

      <dt>Password</dt>
      <dd><%= @skier.password %></dd>

      <dt>Name</dt>
      <dd><%= @skier.name %></dd>

      <dt>Dob</dt>
      <dd><%= @skier.dob %></dd>

      <dt>Level</dt>
      <dd><%= @skier.level %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @skier.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/skiers" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Skier has many mountain_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mountain Photos
      </li>

      <% @skier.mountain_photos.each do |mountain| %>
        <li class="list-group-item">
          <a href="/mountains/<%= mountain.id %>">
            <%= mountain.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/mountains/<%= mountain.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/mountains/<%= mountain.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_mountain/<%= mountain.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
